<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'bmb/css/accesorios.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6469105615.js" crossorigin="anonymous"></script>
    <title>Accesorios Proximamente - MasterBikes</title>

    {% load bootstrap5 %}  
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="main-container">
        <header>
            <a href="{% url 'index' %}" class="logo-block">
                <img src="{% static 'bmb/img/logo.png' %}" alt="Logo">
            </a>
            <div class="menu-block">
                <ul class="nav-links">
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'arriendos' %}">Arriendos</a></li>
                    <li><a href="{% url 'reparaciones' %}">Reparaciones</a></li>
                    <li><a href="{% url 'accesorios' %}">Accesorios</a></li>
                    <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                </ul>

            </div>
            <div class="signin-block">
                <a href="{% url 'register'%}">Iniciar Sesion</a>
            </div>
        </header>

        <div class="content">

            <div class="titulo">
                <h1>Proximamente</h1>
                <h5>Los mejores accesorios para tu bicicleta ¡y mucho mas!</h5>
            </div>

            <p>Suscríbete ahora a nuestro newsletter y recibe en tu email</p>
            <p>las ultimas novedades en MasterBikes.</p>

            <div class="novedades">
                <div class="novedades-container">
                    <div class="novedades-form">
                        <input type="email" placeholder="  Correo electrónico">
                        <button type="submit">Suscribir</button>
                    </div>
                </div>
            </div>
        </div>
            

        <div class="separacion"></div>

        <footer class="pie-pagina">
            <div class="grupo-1">
                <div class="box">
                    <figure>
                        <img src="{% static 'bmb/img/logo.png' %}" alt="Logo Masterbike">
                    </figure>
                </div>
                <div class="box">
                    <h2>SOBRE NOSOTROS</h2>
                    <p>Completos con bigote</p>
                    <P>Italiano palta mayo</P>
                </div>
                <div class="box">
                    <h2>SIGUENOS</h2>
                    <div class="red-social">
                        <a href="https://www.facebook.com/" class="fa fa-facebook fa-2xl"></a>
                        <a href="https://www.instagram.com/" class="fa fa-instagram fa-2xl"></a>
                        <a href="https://twitter.com/" class="fa fa-twitter fa-2xl"></a>
                        <a href="https://www.youtube.com/" class="fa fa-youtube fa-2xl"></a>
                    </div>
                </div>
            </div>
            <div class="grupo-2">
                <small>&copy; 2023 <b>Masterbikes</b> - Todos los Derechos Reservados.</small>
            </div>
        </footer>
    </div>

</body>
</html>