<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'bmb/css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6469105615.js" crossorigin="anonymous"></script>
    <title>Inicio - Masterbikes</title>


    
    {% load bootstrap5 %}  
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>


<body>
    <div class="main-container">
        <header>
            <div class="logo-block">
                <img src="{% static 'bmb/img/index/logo.png'%}" alt="Logo">
            </div>
            <div class="menu-block">
                <ul class="nav-links">
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'arriendos' %}">Arriendos</a></li>
                    <li><a href="{% url 'reparaciones' %}">Reparaciones</a></li>
                    <li><a href="{% url 'accesorios' %}">Accesorios</a></li>
                    <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li><a class="dropdown-item" href="{% url 'listar_solicitudes' %}">Solicitudes</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                     
              
                        {% comment %} {% if user.is_staff %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'listar_mangas' %}">Agregar mangas</a></li>
                        
                        {% endif %} {% endcomment %}
                </ul>
                {% else %}
            </div>
            <div class="signin-block">
                <a href="{% url 'login' %}">Iniciar Sesion</a>
        

            </div>
            {% endif %}
        </header>

        <div class="content">
            <div class="img-main">
                <img src="{% static 'bmb/img/index/indexM.png'%}" alt="bici">
            </div>

            <div class="tarjetas">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'bmb/img/index/venta.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Ofrecemos una amplia selección de las mejores bicicletas disponibles en el mercado, todo ello a precios competitivos.</p>
                    </div>
                  </div>
                
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'bmb/img/index/reparaciones.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Contamos con un equipo experimentado para la reparacion de cualquier tipo de bicicleta con las mejores piezas del mercado.</p>
                    </div>
                </div>
                
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'bmb/img/index/Competiciones.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Tambien estamos presentes en las principales competiciones dentro y fuera del pais patrocinando a nuestros competidores aliados.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="novedades">
            <div class="novedades-container">
                <h2>¡NOVEDADES Y BENEFICIOS!</h2>
                <p>Suscríbete ahora a nuestro newsletter y recibe en tu email ofertas exclusivas, promociones ¡y mucho más!</p>
                <div class="novedades-form">
                    <input type="email" placeholder="  Correo electrónico">
                    <button type="submit">Suscribir</button>
                </div>
            </div>
        </div>

        <div class="separacion"></div>

        <footer class="pie-pagina">
            <div class="grupo-1">
                <div class="box">
                    <figure>
                        <img src="{% static 'bmb/img/index/logo.png'%}" alt="Logo Masterbike">
                    </figure>
                </div>
                <div class="box">
                    <h2>SOBRE NOSOTROS</h2>
                    <p>Completos con bigote</p>
                    <P>Italiano palta mayo</P>
                </div>
                <div class="box">
                    <h2>SIGUENOS</h2>
                    <div class="red-social">
                        <a href="https://www.facebook.com/" class="fa fa-facebook fa-2xl"></a>
                        <a href="https://www.instagram.com/" class="fa fa-instagram fa-2xl"></a>
                        <a href="https://twitter.com/" class="fa fa-twitter fa-2xl"></a>
                        <a href="https://www.youtube.com/" class="fa fa-youtube fa-2xl"></a>
                    </div>
                </div>
            </div>
            <div class="grupo-2">
                <small>&copy; 2023 <b>Masterbikes</b> - Todos los Derechos Reservados.</small>
            </div>
        </footer>

    </div>
</body>
</html>