{% load bootstrap5 %}  
{% bootstrap_css %}
{% bootstrap_javascript %}


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Tipo</th>
      <th>Descripción</th>
      <th>Fecha de inicio</th>
      <th>Confirmación</th>
      <th>Método de pago</th>
    </tr>
  </thead>
  <tbody>
    {% for solicitud in solicitudes %}
    <tr>
      <td>{{ solicitud.id }}</td>
      <td>{{ solicitud.tipo_soli }}</td>
      <td>{{ solicitud.descripcion }}</td>
      <td>{{ solicitud.fecha_inicio }}</td>
      <td>{{ solicitud.confirmacion }}</td>
      <td>{{ solicitud.metodo_pago }}</td>
    </tr>
    <td>
      {% comment %} <a class="text-reset" href="{% url 'modificar_solicitud' solicitud.id %}">Editar</a>
      <a class="text-reset" href="{% url 'eliminar_solicitud' solicitud.id %}">Eliminar</a> {% endcomment %}
    </td>
    {% endfor %}
    <ul style="list-style: none;">
      <li><a href="{% url 'index' %}">Volver</a> </li>
    </ul>
  </tbody>
</table>



<style>

a{
  text-decoration: none;
}
</style>
